
.alert {
  padding: 20px;
  background-color: #f44336; /* Color de fondo del alert */
  color: white; /* Color del texto */
  font-size: 18px;
  border-radius: 5px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


